version: '3.7'

services:
  site:
    build:
      context: ./docker/site
      args:
        - PHP_VERSION=${PHP_VERSION:-7.2}
    volumes:
      - ./:/var/www/site:cached
  nginx:
    image: nginx:alpine
    ports:
      - "${APP_PORT:-8000}:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:cached
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:cached
      - ./:/var/www/site:cached
    restart: on-failure
    depends_on:
      - site
